# This file is managed by Ansible

[Unit]
Description=run a restic backup at 4am daily

[Timer]
OnCalendar=*-*-* 4:00:00
Persistent=true

[Install]
WantedBy=timers.target
