# This file is managed by Ansible

TELEGRAF_ENDPOINT="{{ telegraf_endpoint }}"
TELEGRAF_USERNAME="{{ telegraf_username }}"
TELEGRAF_PASSWORD="{{ telegraf_password }}"
TELEGRAF_INFLUX_ENDPOINT="{{ telegraf_influx_endpoint }}"
TELEGRAF_INFLUX_TOKEN="{{ telegraf_influx_token }}"
TELEGRAF_INFLUX_ORG="{{ telegraf_influx_org }}"
TELEGRAF_INFLUX_BUCKET="{{ telegraf_influx_bucket }}"
