# This file is managed by Ansible

TELEGRAF_ENDPOINT="{{ telegraf_endpoint }}"
TELEGRAF_USERNAME="{{ telegraf_username }}"
TELEGRAF_PASSWORD="{{ telegraf_password }}"
TELEGRAF_INFLUX_ENDPOINT="{{ telegraf_influx_endpoint }}"
TELEGRAF_INFLUX_DATABASE="{{ telegraf_influx_database }}"
TELEGRAF_INFLUX_USERNAME="{{ telegraf_influx_username }}"
TELEGRAF_INFLUX_PASSWORD="{{ telegraf_influx_password }}"
