# This file is managed by Ansible

TELEGRAF_INFLUX_ENDPOINT="{{ telegraf_influx_endpoint }}"
TELEGRAF_INFLUX_DATABASE="{{ telegraf_influx_database }}"
TELEGRAF_INFLUX_USERNAME="{{ telegraf_influx_username }}"
TELEGRAF_INFLUX_PASSWORD="{{ telegraf_influx_password }}"
