# This file is managed by Ansible

[global_tags]
#  dc = "ovh-erith"

[agent]
  interval = "10s"
  round_interval = false
  metric_batch_size = 2000
  metric_buffer_limit = 500000
  collection_jitter = "500ms"
  collection_offset = "10ms"
  flush_interval = "10s"
  flush_jitter = "10s"
  hostname = "{{ ansible_host }}"
  snmp_translator = "gosmi"
  skip_processors_after_aggregators = true

[[outputs.influxdb]]
  urls = ["$TELEGRAF_INFLUX_ENDPOINT"]
  database = "$TELEGRAF_INFLUX_DATABASE"
  username = "$TELEGRAF_INFLUX_USERNAME"
  password = "$TELEGRAF_INFLUX_PASSWORD"
  skip_database_creation = true
  timeout = "30s"

[[inputs.conntrack]]

[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = true

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "iso9660", "overlay", "aufs", "squashfs"]

[[inputs.diskio]]

[[inputs.interrupts]]
  cpu_as_tag = true

[[inputs.kernel]]

[[inputs.mem]]

[[inputs.net]]
  ignore_protocol_stats = true

[[inputs.netstat]]

[[inputs.nstat]]

[[inputs.processes]]

[[inputs.swap]]

[[inputs.system]]
