# This file is managed by Ansible

[Unit]
ConditionPathExists=/proc/sys/kernel/modules_disabled
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c '(/usr/bin/sleep 60; /usr/bin/echo 1 > /proc/sys/kernel/modules_disabled) & disown'

[Install]
WantedBy=multi-user.target
