#!/bin/bash
# This file is managed by Ansible

case $domain in
{% for credentials in dehydrated_credentials %}
    {{ credentials.domain }})
        username="{{ credentials.username }}"
        password="{{ credentials.password }}"
        ;;
{% endfor %}
    *)
        echo "   >  $domain is not a configured domain"
        exit 1
esac
