# This file is managed by Ansible

[Unit]
Description=dehydrated ACME certificate renewal script

[Service]
Type=oneshot
ExecStart=/usr/bin/dehydrated --cron
