# This file is managed by Ansible
compatibility_level = 2
inet_protocols = ipv6
notify_classes = bounce,delay,policy,protocol,resource,software
myhostname = {{ ansible_host }}
mydomain = xjupiter.net
myorigin = xjupiter.net
mydestination =
mynetworks = 127.0.0.0/8 [::1]/128
alias_database =
alias_maps =
smtp_generic_maps = regexp:/etc/postfix/generic
relayhost = smtp-auth.mythic-beasts.com:587
smtp_sasl_auth_enable = yes
smtp_sasl_auth_soft_bounce = yes
smtp_sasl_security_options = noanonymous
smtp_sasl_password_maps = texthash:/etc/postfix/sasl-credentials
smtp_use_tls = yes
smtp_enforce_tls = yes
smtp_tls_security_level = verify
smtp_tls_mandatory_ciphers = high
smtp_tls_mandatory_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1
smtp_tls_CApath = /etc/ssl/certs
smtp_tls_session_cache_database = btree:/var/lib/postfix/smtp_scache
smtp_tls_loglevel = 1
