# This file is managed by Ansible

[Unit]
Description=InfluxDB time series database
Documentation=https://docs.influxdata.com/influxdb/
After=network-online.target

[Service]
User=influxdb
Group=influxdb
LimitNOFILE=65536
ExecStart=/usr/local/bin/influxd run
Restart=always

[Install]
WantedBy=multi-user.target
Alias=influxd.service
