---
services:
  mongo:
    # v7.0.26 linux/amd64
    image: mongo@sha256:95ff8735d34ac4eadd80c86135774ea0a15931163e6462f399857cf5bb20897a
    command: --wiredTigerCacheSizeGB 0.4
    restart: always
    networks:
      - backend
    volumes:
      - /opt/mongo/data:/data/db

  unifi-controller:
    # v9.5.21 linux/amd64
    image: jacobalberty/unifi@sha256:4169ec66ef2c2fd6071722402fbba36fce766b22a776b98220ac71e4968ede90
    restart: always
    init: true
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.unifi-controller.rule=Host(`unifi.xjupiter.net`)"
      - "traefik.http.routers.unifi-controller.entrypoints=http"
      - "traefik.http.routers.unifi-controller.middlewares=redirect-insecure@file"
      - "traefik.http.routers.unifi-controller-secure.rule=Host(`unifi.xjupiter.net`)"
      - "traefik.http.routers.unifi-controller-secure.entrypoints=https"
      - "traefik.http.routers.unifi-controller-secure.middlewares=hsts-header@file"
      - "traefik.http.routers.unifi-controller-secure.tls=true"
      - "traefik.http.routers.unifi-controller-secure.tls.certResolver=xjupiter"
      - "traefik.http.services.unifi-controller.loadbalancer.server.scheme=https"
      - "traefik.http.services.unifi-controller.loadbalancer.server.port=8443"
    depends_on:
      - mongo
    networks:
      - backend
    volumes:
      - /opt/unifi/data:/unifi/data
      - /opt/unifi/log:/unifi/log
      - /opt/unifi/init:/unifi/init.d
    environment:
      RUNAS_UID0: "false"
      JVM_MAX_HEAP_SIZE: "768M"
      DB_URI: mongodb://mongo/unifi
      STATDB_URI: mongodb://mongo/unifi_stat
      DB_NAME: unifi
    ports:
      - "3478:3478/udp"   # STUN
      - "6789:6789/tcp"   # Speed test
      - "8080:8080/tcp"   # Device/controller communication
      - "8443:8443/tcp"   # Controller GUI/API as seen in a web browser
      - "8880:8880/tcp"   # HTTP portal redirection
      - "8843:8843/tcp"   # HTTPS portal redirection
      - "10001:10001/udp" # AP discovery
      - "5514:5514/udp"   # Remote logging

  traefik:
    # v2.11.31 linux/amd64
    image: traefik@sha256:182ecd08da6fc039a7395b8291e2a0b88063e29e5ed57feb15edc84468f3aad1
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/traefik/traefik.toml:/traefik.toml
      - /opt/traefik/conf.toml:/conf.toml
      - /opt/traefik/acme.json:/acme.json
    networks:
      - backend

networks:
  backend:
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd12:4242:4242:1::/64"
