[Unit]
Description=Prometheus node exporter

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter --collector.logind --collector.processes --collector.systemd
Restart=always

# Security
NoNewPrivileges=yes

# Process properties
KeyringMode=private

# Sandboxing
ProtectHome=yes
ProtectSystem=strict
PrivateTmp=yes
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictSUIDSGID=true

#  System call filtering
#SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
